<div class="app-mat-dialog-container app-mat-dialog-container-md">

  <h2 mat-dialog-title class="app-mat-dialog-title">刊登信息</h2>

  <h3>{{data.title}}</h3>
  <p>

    <mat-form-field class="mat-form-field-md m-r-lg">
      <mat-select class="sc-slt" placeholder="年度" [(ngModel)]="data.year">
        <mat-option [value]="2018">2018度</mat-option>
        <mat-option [value]="2019">2019度</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="mat-form-field-md m-r-lg">
      <mat-select class="sc-slt" placeholder="期号" [(ngModel)]="data.term">
        <mat-option *ngFor="let term of termList" [value]="term">第{{term}}期</mat-option>
      </mat-select>
    </mat-form-field>

  </p>

  <div class="app-mat-dialog-action-container text-center">
    <button type="button" mat-raised-button color="primary" class="m-r-lg" (click)="confirm()" [disabled]="data.year === undefined || data.term === undefined">确定</button>
    <button type="button" mat-button (click)="cancel()">取消</button>
  </div>

</div>
