<div id="app-manuscript-review-container">

  <app-cms-manuscript-edit-form [isReview]="isReview" [info]="info" [infoOri]="infoOri" [author]="author" [authorOri]="authorOri"></app-cms-manuscript-edit-form>

  <p>&nbsp;</p>

  <app-cms-manuscript-review-form [review]="review" [reviewOri]="reviewOri"></app-cms-manuscript-review-form>

  <p>

    <button mat-raised-button (click)="submit()" class="m-r-lg mat-bs-primary-btn" [disabled]="isFormSubmit">保存稿件</button>
    <button mat-raised-button (click)="submit(false)" class="m-r-lg mat-success-btn" [disabled]="isFormSubmit">保存并评审</button>
    <button mat-raised-button (click)="goBack()" [disabled]="isFormSubmit">返回</button>

  </p>

</div>
