<div id="app-manuscript-edit-container">

  <div id="app-manuscript-edit-info" class="bg-info">
    <h2 class="title">投稿要求</h2>
    <ul>
      <li>1. 稿件文责自负，论点明确、论据可靠、数据准确、逻辑严谨、文字通顺；</li>
      <li>2. 所有文章标题字符数在20字以内；文章正文一般不超过5000字；</li>
      <li>3. 正确使用标点符号，表格设计要合理，图片要清晰，注明图号；</li>
      <li>4. 本刊编辑部对来稿有修改权，不愿改动者请事先说明；</li>
      <li>5. 如有一稿多投、剽窃或抄袭行为者，一切后果由作者本人负责。</li>
    </ul>
  </div>

  <p>&nbsp;</p>

  <app-cms-manuscript-edit-form></app-cms-manuscript-edit-form>

  <p>&nbsp;</p>

  <p>
    <mat-checkbox [(ngModel)]="agreement">我已认真阅读投稿要求并承诺文责自负</mat-checkbox>
  </p>

  <p>

    <button mat-raised-button (click)="submit()" class="m-r-lg mat-success-btn" [disabled]="isFormSubmit || !agreement">提交</button>
    <button mat-raised-button (click)="goBack()" [disabled]="isFormSubmit">返回</button>

  </p>

</div>
